In [1]:
import pandas as pd
import numpy as np

# pd.DataFrame.filter
Subset the dataframe rows or columns according to the specified index labels.<br>
Note that this routine does not filter a dataframe on its contents. The filter is applied to the labels of the index.

[REF](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.filter.html)

In [2]:
df = pd.DataFrame(np.array(([1, 2, 3], [4, 5, 6])),
                  index=['mouse', 'rabbit'],
                  columns=['one', 'two', 'three'])
df

        one  two  three
mouse     1    2      3
rabbit    4    5      6

In [5]:
df.filter(items=['one', 'three'], axis='columns')

        one  three
mouse     1      3
rabbit    4      6

In [8]:
# 與df[['one', 'three']]結果相同

df.filter(items=['one', 'three'], axis='columns') == df[['one', 'three']]

         one  three
mouse   True   True
rabbit  True   True

In [12]:
# select columns by regular expression

df.filter(regex='e$', axis='columns')

        one  three
mouse     1      3
rabbit    4      6

In [13]:
# select rows containing 'bbi'

df.filter(like='bbi', axis='index')

        one  two  three
rabbit    4    5      6